<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.brettgardner.cards-pg"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Cards PG</name>
 
    <description>
        A simple cards test
    </description>
 
    <author href="http://oo-rah.com" email="brett.gardner@gmail.com">
        Brett Gardner
    </author>

    <access origin="*" />
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <gap:plugin name="com.phonegap.plugins.facebookconnect">
        <param name="APP_ID" value="306588442718313" />
        <param name="APP_NAME" value="Cards Workout" />
    </gap:plugin>
 
</widget>